
.welcome {
  color: #fff;
  padding-top: 5px;
  width: 300px;
}

.signout a {
  color: #c8c8c8;
  font-size: small;
  font-style: italic;
}

.navbar-brand a {
  padding-top: 20px;
  color: #fff;
}

.nav-avatar {
  float: left;
  padding-right: 10px;
}

.nav-user {
  float: left;
}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 30px;
}
